/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    font-family: "IngeText";
    src: local('../fonts/Questrial-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IngeText', Arial, Helvetica, sans-serif;
}

/* Textos */
    .simple-text{
        font-size: 25px;
        line-height: 1.7;
    }
    .title{
        height: auto;
        text-align: left;
    }
    .sub-title{
        font-weight: bold;
        height: auto;
        text-align: left;
    }
    .blue{
        color: #1E6595;
    }
    .light-blue{
        color: #9EB3E3;
    }
    .gray{
        color: #677A8B;
    }
    h1,h2,.title,.sub-title{
        max-height: 45px;
    }
/* Botones */
    .inge-button{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        box-shadow: 0 3px 5px 2px rgba(0,0,0,.4);
        border-radius: 25px;
        text-align: center;
        padding: 10px;
        height: 4vh;
        width: 70%;
        overflow: hidden;
        transition: all .4s ease-in-out;
    }
    .inge-button::before{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        z-index: -1;
        background-color: rgba(57, 86, 105, .7);
        transition: all .4s ease-in-out;
    }
    .inge-button:hover{
        color: white;
    }
    .inge-button:hover::before{
        transform: translateX(0)
    }

/* Iconos */
    .icon{
        height: 48px;
        width: 48px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
