/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    font-family: 'IngeText';
    src: url('../fonts/WEB_QuestrialFont/Questrial-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'IngeTextBold';
    src: url('../fonts/WEB_CentraleSans-Bold/CentraleSans-Bold.woff') format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IngeText', Arial, Helvetica, sans-serif;
}    
/* Textos */
    .simple-text{
        font-size: 27px;
        line-height: 1.6;
    }
    .carousel-description{
        font-size: 22px;
        line-height: 1.5;
    }
    h1,h2{
        max-height: 45px;
    }
/* Iconos */
    .icon{
        height: 48px;
        width: 48px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

/* CAROUSEL */
/*? Pongo estos estilos acá porque sino no me deja pisar los originales */
    .splide__pagination{
        gap: 1rem!important;
        position: absolute!important;
        top: 0!important;
        height: 3rem!important;
        padding-bottom: 1rem!important;
        width: 100%!important;
        background-color: #D2DDEB!important;
    }
    .images-carousel .splide__pagination{
        gap: 1rem!important;
        position: relative!important;
        height: 3rem!important;
        width: 100%!important;
        background-color: white!important;
    }
    .splide{
        padding: 2rem 3rem!important;
    }
    .splide__pagination__page{
        width: 20px!important;
        height: 20px!important;
        border-radius: 100%!important;
    }

@media screen and (max-width: 650px){
    .splide{
        padding: 3rem 3rem 0 3rem!important;
    }
    .splide__slide{
        padding: 25px 0!important;
    }
    .splide__arrow--prev{
        left: 0!important;
    }
    .splide__arrow--next{
        right: 0!important;
    }
    .title{
        margin-bottom: .2rem;
    }
    .simple-text{
        font-size: 19px;
    }
}